<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiz10perguntas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quiz10Perguntas">
        <activity
            android:name=".TelaPontuacaoFinal"
            android:exported="false" />
        <activity
            android:name=".TelaPergunta10"
            android:exported="false" />
        <activity
            android:name=".TelaPergunta9"
            android:exported="false" />
        <activity
            android:name=".TelaPergunta8"
            android:exported="false" />
        <activity
            android:name=".TelaPergunta7"
            android:exported="false" />
        <activity
            android:name=".TelaPergunta6"
            android:exported="false" />
        <activity
            android:name=".TelaPergunta5"
            android:exported="false" />
        <activity
            android:name=".TelaPergunta4"
            android:exported="false" />
        <activity
            android:name=".TelaPergunta3"
            android:exported="false" />
        <activity
            android:name=".TelaPergunta2"
            android:exported="false" />
        <activity
            android:name=".TelaPergunta1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>